<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link href="{{ "favicon.ico" | relURL }}" rel="icon" />

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  {{- $cssSource := resources.Get "css/main.scss" }}
  {{- if .Site.IsServer }}
  {{- $style := $cssSource | toCSS (dict "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style | fingerprint).RelPermalink }}">
  {{- else }}
  {{- $style := $cssSource | toCSS (dict "outputStyle" "compressed") }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{- end }}
</head>

<body>
  <section class="sheet">
    <div class="print-btn">
      <button onclick="javascript:window.print();"><i class="icon-print"></i>打印成 PDF 文件</button>
    </div>
    <article>{{.Content}}</article>
  </section>
</body>

</html>